<h1 md-dialog-title>{{title}}</h1>
<div md-dialog-content>

  <form [formGroup]="formControls" class="client-data-form">

    <md-form-field>
      <input mdInput formControlName="name" placeholder="Name" tabindex="1" required>
      <md-error *ngIf="formControls.hasError('required', ['name'])">
        Name is required
      </md-error>
      <md-error *ngIf="formControls.hasError('minlength', ['name'])">
        Name should be at least 4 characters length
      </md-error>
    </md-form-field>


    <md-form-field>
      <input mdInput formControlName="phone" placeholder="Phone" tabindex="2" required>
      <md-error *ngIf="formControls.hasError('pattern', ['phone'])">
        Invalid phone
      </md-error>
    </md-form-field>


    <md-form-field>
      <input type="email" mdInput formControlName="email" placeholder="email" tabindex="3" required>
      <md-error *ngIf="formControls.hasError('required', ['email'])">
        Email is required
      </md-error>
      <md-error *ngIf="formControls.hasError('pattern', ['email'])">
        Invalid email
      </md-error>
    </md-form-field>


    <md-form-field>
      <input mdInput formControlName="birthDate"
             [mdDatepicker]="picker"
             placeholder="Choose a birth date"
             tabindex="4" required>
      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      <md-datepicker #picker></md-datepicker>
      <md-error *ngIf="formControls.hasError('notDate', ['birthDate'])">
        Invalid date
      </md-error>
    </md-form-field>

    <md-select formControlName="gender" placeholder="select gender" tabindex="5" required>
      <md-option> Unknown</md-option>
      <md-option *ngFor="let g of genderList" [value]="g.value">
        {{g.value}}
      </md-option>
    </md-select>

    <md-form-field>
      <input mdInput formControlName="address" placeholder="address" tabindex="6" required>
      <md-error *ngIf="formControls.hasError('pattern', ['address'])">
        Invalid address
      </md-error>
    </md-form-field>

  </form>
</div>

<div md-dialog-actions>
  <button [disabled]="formControls.invalid" md-raised-button [md-dialog-close]="formControls.value" color="primary"
          tabindex="7">Ok
  </button>
  <button md-raised-button md-dialog-close color="warn" tabindex="-1">Close</button>
</div>
