:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  //max-height: 100%;
  overflow: hidden;

  md-table {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  margin: -1.25em 0 -.5em;

}

.header {
  display: flex;
  //flex: 1 1 auto;
  flex-shrink: 0;

  md-form-field {
    margin: auto;
    flex-grow: 2;
    padding-right: 1em;
  }

}

.add-button {
  position: fixed;
  right: 1em;
  bottom: 1em;
}

.bottom-bar {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: -20px;
}


