.header {
  display: flex;
  flex: 1 1 auto;
  align-content: flex-end;

  md-form-field {
    margin: auto;
    flex-grow: 2;
    padding-right: 1em;
  }

}

.add-button{
  position: fixed;
  right: 1em;
  bottom: 1em;
}

.bottom-bar{
  padding-top: 1em;
  //position: fixed;
  //bottom: 0;
  //width: 100%;
  display: flex;
  //z-index: 2;
}
