<div class="header">

  <md-form-field floatPlaceholder="never">
    <input mdInput #filter placeholder="Filter clients">
    <button md-button mdSuffix (click)="applyNameFilter()"><i class="fa fa-search"></i></button>
  </md-form-field>

  <md-select (change)="onGenderChange($event)" placeholder="select gender" [(ngModel)]="selectedGender">
    <md-option [value]="''"> All</md-option>
    <md-option *ngFor="let gender of genderList" [value]="gender.value">
      {{gender.value | uppercase}}
    </md-option>
  </md-select>

</div>

<md-table #table [dataSource]="dataSource" class="flex-col">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container mdColumnDef="name">
    <md-header-cell *mdHeaderCellDef> Name</md-header-cell>
    <md-cell *mdCellDef="let element">
      <a routerLink="/client/{{element.id}}" href="">{{element.name}}</a>
    </md-cell>
  </ng-container>

  <ng-container mdColumnDef="phone">
    <md-header-cell *mdHeaderCellDef> Phone</md-header-cell>
    <md-cell *mdCellDef="let element"> {{element.phone}}</md-cell>
  </ng-container>

  <ng-container mdColumnDef="email">
    <md-header-cell *mdHeaderCellDef> Email</md-header-cell>
    <md-cell *mdCellDef="let element"> {{element.email}}</md-cell>
  </ng-container>

  <ng-container mdColumnDef="birth">
    <md-header-cell *mdHeaderCellDef> Birth</md-header-cell>
    <md-cell *mdCellDef="let element">
      {{element.birthMonth || '?' }}/{{element.birthDay || '?'}}/{{element.birthYear || '?'}}
    </md-cell>
  </ng-container>

  <ng-container mdColumnDef="address">
    <md-header-cell *mdHeaderCellDef> Address</md-header-cell>
    <md-cell *mdCellDef="let element"> {{element.address}}</md-cell>
  </ng-container>

  <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
  <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>

<div class="bottom-bar">

  <md-form-field>
    <input mdInput placeholder="Go to page" value="1" type="number" min="1" (change)="gotoPage($event)">
  </md-form-field>

  <md-paginator #paginator
                [length]="clientsTotalCount"
                [pageIndex]="1"
                [pageSize]="10"
                [pageSizeOptions]="[ 10, 25, 100, 500, 1000]">
  </md-paginator>

  <button md-fab color="primary" class="add-button" (click)="openDialog()">
    <i class="fa fa-plus"></i>
  </button>


</div>

<!--remove this-->
<div style="position: absolute; bottom: 0; left:50%; transform: translateX(-50%); color: #f9766e;">
  <small><small> client's total count is approximate!</small></small>
</div>

