:host{
  display: flex;
  flex-direction: column;
  height: 100%;

  > md-card.main{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;
  }

  > md-progress-bar{
    position: absolute;

  }
}

.home-btn{
  color: inherit;
  margin-left:1.5rem;
}
